@model IEnumerable<Opus.Models.Customer>
@{
    ViewBag.Title = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Customers List</h2>

@Html.ActionLink("Add", "New", "Customers", null, new {@class = "btn btn-primary"})
@if (!Model.Any())
    {
        <text>There are no customers</text>
    }
    else
    {
        <table class="table-hover table">
            <thead>
            <tr class="table-primary">
                <th>ID</th>
                <th>Customer Name</th>
                <th>Stability/Volume/Balance</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr class="table-secondary">
                        <td>@customer.Id</td>
                        <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { customer.Id }, null)</td>
                        <td>
                            @{ var stabilityType = customer.FinancialStability.StabilityType; }
                            @if (customer.FinancialStabilityId > 5)
                            {
                                <span class="badge badge-danger">@stabilityType</span>
                            }
                            else if (customer.FinancialStabilityId > 3)
                            {
                                <span class="badge badge-warning">@stabilityType</span>
                            }
                            else
                            {
                                <span class="badge badge-success">@stabilityType</span>
                            }/
                            @if (customer.NumberOfTransactions > 30)
                            {
                                <span class="badge badge-success">Significant</span>
                            }
                            else if (customer.NumberOfTransactions > 10)
                            {
                                <span class="badge badge-warning">Average</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">Low</span>
                            }/
                            @if (customer.Balance > 1500)
                            {
                                <span class="badge badge-success">@customer.Balance$</span>
                            }
                            else if (customer.FinancialStabilityId > 500)
                            {
                                <span class="badge badge-warning">@customer.Balance$</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">@customer.Balance$</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }



