@model IEnumerable<Opus.Models.Item>
@{
    ViewBag.Title = "Items List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Items List</h2>

@if (!Model.Any())
{
    <text>There are no items to display</text>

}
else
{
    <table class="table-hover table">
        <thead>
        <tr class="table-primary">
            <th>Id</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Price</th>
            <th>Original Customer(id)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>@item.Id</td>
                <td>@Html.ActionLink(item.Name, "Edit", "Items", new {item.Id}, null)</td>
                <td>@item.Weight</td>
                <td>@item.Price</td>
                <td>@item.Customer.Name (@item.CustomerId)</td>
            </tr>
        }
        </tbody>
    </table>
}

